
<footer>

    <p class="footerText"> Built and Designed by
  <a class="footerLink" href="www.peterking.info">www.peterking.info</a>
</p>
    <!-- <p style="font-size:12px;">Images from <a href="http://www.pexels.com">www.pexels.com</a></p> -->
    <p>wine.atlas.app@gmail.com</p>
  <br> 
</footer>