

    <div class="navDiv">
        <div class="logo">
            <h1>Wine Atlas</h1>
        </div>


        <% if (username) { %>
            <div class="left">
            <div class="welcome">
                <h1>Welcome, <%= username %> !</h1>
            </div>
            <div class="logOut">
                <h1><a href="/user/logout">Log out</a></h1>
            </div>
            </div>
        <% }%>

        
    </div>
