<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/wines/home/">Wine Atlas</a>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <a href="/wines/regions">Regions</a>
            </li>
            <li>
                <a href="/wines/grape-varieties">Grape Varieties</a>
            </li>
            <li>
                <!-- <a href="/wines/user-cellars">User Cellars</a> -->
                <a href="/wines">User Cellars</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <% if (username) { %>
            <li><span>Welcome,
                <%= username %> !</span>
            </li>
            <li>
                <a href="/user/logout">
                    <span class="glyphicon glyphicon-log-out"></span> Log Out</a>
            </li>
      
            <% } else { %>
           
            <li>
                
            <a href="/user/login">
                    <span class="glyphicon glyphicon-log-in"></span> Login</a>
            </li>
            <li>
                <a href="/user/register">
                    <span class="glyphicon glyphicon-user"></span> Sign Up</a>
            </li>
            <% } %>
        </ul>

    </div>


    </nav>

        