<!DOCTYPE html>
<html>

<head>
    <% include partials/head.ejs %>
</head>

<body>
    <% include partials/nav.ejs %>
        <div class="containingImageMain">
            <div class="MainLogoCenter">
                <h1 class="logoh1 ">Wine Atlas</h1>
            </div>
        </div>

<div class="boxes">
    <!-- login -->
    <div class="row1">
        <div class="loginPictureBox"></div>
        <div class="grapeTextBox">
            <div class="squareTextHome">Track & Keep a List of Your Favorite Wines</div>
            <div>
                <a class="homePageBtn" href="/user/register">Join Member Portal</a>
                <div>
                    <br>
    
                    <a class="homePageBtn" href="/user/login">Login</a>
                </div>
            </div>
        </div>
    
    </div>

<div class="row2">
    <!-- top grapes -->
    <div class="grapePictureBox"></div>
    <div class="grapeTextBox">
        <div class="squareTextHome">Best Wines By Grape Variety</div>
    <a class="homePageBtn" href="/wines/grape-varieties/red">View more</a>
</div>
    
</div>
<div class="row1">
    <!-- top wines -->
    <div class="winePictureBox"></div>
    <div class="wineTextBox">
        <div class="squareTextHome">Top Rated Wines by Country</div>
        <a class="homePageBtn" href="/wines/regions">View more</a>
    </div>
    
</div>

</div>


        <% include partials/footer.ejs%>
</body>

</html>