<!DOCTYPE html>
<html>

<head>
    <% include partials/head.ejs %>
</head>

<body>
    <% include partials/nav.ejs %>
<div class="containingImageMain">
    <div class="MainLogoCenter">
        <h1 class="logoh1 ">Wine Atlas</h1>
    </div>
</div>
<div class="chooseSquaresHome">
    <div class="squares1">
        <div class="squareTextHome">Track Your Favorite Wines</div>
        
            <div>
                <a class="homePageBtn" href="/user/register">Join Member Portal</a>
            <div>
                <br>
            <div class="squareTextHome"></div>
                <a class="homePageBtn" href="/user/login">Login</a>
            </div>
        </div>

    </div>
    <div class="squares2">
        <br>
        <!-- <a href="/wines/regions">Top Rated Wines by Country Under $20 </a> -->
        <div class="squareTextHome">Top Rated Wines by Country Under $20</div>
         
        <a class="homePageBtn" href="/wines/regions">View more</a>
        </div>
    <div class="squares3">
        <br>
        <!-- <a href="/wines/grape-varieties/red"> Best Wines By Grape Variety</a> -->
         <div class="squareTextHome">Best Wines By Grape Variety</div>
        <a class="homePageBtn" href="/wines/grape-varieties/red">View more</a>
        </div>
</div>

        <% include partials/footer.ejs%>
</body>

</html>
<a href=""></a>