<!DOCTYPE html>
<!DOCTYPE html>
<html>

<head>
    <% include partials/head.ejs %>
</head>

<body>
    <!-- partials/nav.ejs  -->
    <nav class="navbar"></nav>

    <div class="mainPictureDiv">
            <div class="logoCenter">
            Wine Atlas
            </div>
    </div>

    <% include partials/footer.ejs%>
</body>

</html>