<!DOCTYPE html>
<html>

<head>
    <% include partials/head.ejs %>
</head>

<body>
    <% include partials/nav.ejs %>

        <div class="containingImageMain">
            <img class="mainImageAroundLogo" src="/images/pexels-photo-360013.jpeg" alt="vineyard">

            <div class="MainLogoCenter">
                <h1 class="logoh1 ">Wine Atlas</h1>
            </div>
        </div>

        <% include partials/footer.ejs%>
</body>

</html>