<!DOCTYPE html>
<html>
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <!-- need to fix nav bar partial -->
<% include partials/nav.ejs %>
<div class="mainPictureDiv">

    <!-- <header><h1>Wine Atlas</h1></header> -->

    <br><br>
      <h2>Login</h2>
      <!-- update for node wizard hat -->
       <!-- if (message) {
        message
        }  -->
      <div class=loginForm>
      <form action="/user/login" method="post">
        Username: <input name="username" /> <br />
        Password: <input type="password" name="password" /><br />

        <button type="submit">Submit</button>
      </form>
      </div>

<div class="modalWinner">
  <div class="modal-text-boxWinner">
    <div id="openWinnerModal">
      <h2>You Won!</h2>
      <p>Congratulations!</p>
      <a id="playAgainWinnerBtn" href="#">Play Again!</a>
    </div>
  </div>
</div>

      <h2>Register</h2>
      <div class=loginForm>
      <form action="/user/register" method="post">
             Username: <input name="username" /><br />
            Password: <input type="password" name="password" /><br />
          <button type="submit">Register</button>
      </form>
      </div>

      

      </div>
    <% include partials/footer.ejs%>
  </body>
</html>
