<!DOCTYPE html>
<html>

<head>
<% include partials/head.ejs %>
</head>

<body>
<% include partials/nav.ejs %>
<!-- <header>
    <% include partials/header.ejs %>
</header> -->

    <h2>Add a Wine That You Have Tasted</h2>
    <div class="newInput">

    <form action='/wines' method='POST'>
        <input class="newInput" type="text" name="name_of_winery" placeholder="Name of Winery" required/>
        <input class="newInput" type="text" name="year" placeholder="Year" required/>
        <input class="newInput" type="text" name="region" placeholder="Region" required/>
        <input class="newInput" type="text" name="submitted_by" placeholder=" Your Name" required/>
        <input class="newInput" type="img" name="url" placeholder="Image Link" />
            <input class="newInput" type="file" onchange="readURL(this);" name="file" placeholder="Image Link"/>

<br/>

    <img id="file" src="#" alt="testing choosefile img" />

<br>

            <button type="submit">Create Product</button>
        </form>
    </div>


    <a href="/wines/">
        <div "backBtn">
            <div class="btn btn-default"> Back to Home Page</div>
        </div>
    </a>



    <% include partials/footer.ejs%>
</body>
</html>
