<!DOCTYPE html>
<html>

<head>
    <title>Place ID Finder</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <% include partials/head.ejs %>
</head>

<body>
    <% include partials/nav.ejs %>

    <div class="mainPictureDiv">
        <div class="logoCenter">
            <h1 class="logoh1">Regions</h1>
        </div>
</div>

<div class="mapArea">
    <input id="pac-input" class="controls" type="text" placeholder="Enter a location">
    <div id="map"></div>
    <div id="infowindow-content">
        <span id="place-name" class="title"></span>
        <br> Place ID
        <span id="place-id"></span>
        <br>
        <span id="place-address"></span>
    </div>
</div>

    <script src="https://maps.googleapis.com/maps/api/js?key=<%=env.APIKEY%>&libraries=places&callback=initMap" async defer></script>

    <% include partials/footer.ejs%>
</body>

</html>