
html,
body {
  /* background-color: #DFEAEC; */
  /* background-image: url(images/samuel-zeller-357975.jpg); */
  /* background-image: url(images/purple-grapes-vineyard-napa-valley.jpeg); */
  /* background-image: url(images/pexels-photo-12322.jpeg); */
  background-image: url(images/pexels-photo-360013.jpeg);
   /* background-image: url(images/purple-grapes-vineyard-napa-valley-napa-vineyard-45209.jpeg); */
              background-size: cover;
              background-repeat: no-repeat;
              background-attachment: fixed;
                background-position: center; 
  /* height: 100%; */
  /* width: 100%; */
  font-family: arial;
  min-width: 500px;
  margin: 0 auto;
}

.containingImageMain {
  position: relative;
  width: 100%;
  height: auto;
  padding: 5px 0 5px 0;
  background-repeat: no-repeat;
  background-image: url(images/pexels-photo-360013.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
   /* background-attachment: fixed; */
    background-position: center; 
}

.mainImageAroundLogo {
  min-width: 500px;
  max-width: 100%;
  height: auto;
  margin: 0;
}

.MainLogoCenter {
  top: 0px;
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: white;
  letter-spacing: 5px;
  margin: 20% 35% 20% 35%;
}


.rating {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 22px;
  margin: 0 0;
  justify-content: center;
}

.star {
  display: flex;
  flex-direction: row;
  width: 22px;
  height: 22px;
}

.borderTop {
  margin: 0 20%;
  padding-top: 10px;
  border-top: 1px solid lightgray;
}

header {
  background-color: #71697A;
}

.backbtn{
    margin: 150px 30% 50px 30%;
    padding: 5px 5px;
    text-align: center;
  }

  .formNew {
    margin: 75px 30%;
  }

.w3-blue {
  background-color: beige!important;
  color: #4F6367!important;
  text-align: center;
}

.w3-container > h4 {
  color: #71697A!important;
}

.addbtn{
  padding: 5px 5px;
  border: 1px solid #4F6367;
  border-radius:10px;
  width: 18%;
  text-align: center;
  margin: 30px 40% 30px;

}

.center {
  text-align: center;
}

.incorrectLogin {
color: red;
}

/* .addbtn:hover {
  background-color: rgba(252, 245, 199, .2);
  color: white;
} */

ul {
  padding: 0 0 ;
}
li {
  list-style: none;
}

.editForm {
  margin: 0 32%;
  text-align: center;
}
.editFormBtn {
  text-align: center;
}

a {
    color:white;
    text-decoration: none;
    width: 100%;
    padding: auto 5px;
  }


  a:hover {
    text-decoration: none;
  }

.newInput {
  display: block;
  text-align: center;
  margin: 5px 30%;
  padding: 10px 0px;
  background-color: rgba(245, 245, 220, 1);
}
.newInputDiv {
  display: block;
  text-align: center;
  margin: 5px 40%;
  padding: 10px 0px;
  background-color: rgba(245, 245, 220, 1);
}

.chooseFilePicture {
  background: beige;
  padding: 10px 10px;
  margin: 10px 37%;
}

.loginForm {
  background-color: beige;
  margin: 5px 37%;
  padding: 10px 0
}


img {
  height: 300px;
  width: auto;
  margin: 10px 10px;
}



button {
  margin: 5px;
}

h1 {
  color: white;
  margin: 0 0 ;
  padding:  20px 20px;
  font-size: 20px;
}

h2 {
  color: white
}

h3 {
  color: white;
}

h4 {
  color:white;
}

/* top nav */
.navDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  color:white;
  font-size:18px;
  padding: 20px 0;
  margin: 20px 0 20px 0;
}

.logOut {
  color:white;
  font-size:18px;
  padding: 20px 0;
  margin: 20px 0 20px 0;
}

.left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* .logOut:hover {
  text-transform: uppercase;
} */

.welcome {
  color:white;
  font-size:18px;
  padding: 20px 0;
  margin: 20px 0 20px 0;
}
/* .nav-tabs {
  margin: 0px 0 20px 0;
}

.nav {
   margin: 0px 0 20px 0;
} */


.containerWine  {
  display: flex;
  flex-flow: row wrap;
  margin: 3px 3px;
  text-align: center;
  justify-content: center;
}

.item {
  display: flex;
  flex-flow: row wrap;
  display: block;
  min-width: 200px;
  /* width: 200px; */
  border: 1px solid grey;
  margin: 3px 3px;
  padding: 1em 1em;
  background-color: rgba(252, 245, 199, .2);
}

.item:hover {
  color: white;
  /* background-color: rgba(252, 245, 199, .4); */
  box-shadow: 0px 0px 5px black;
}


.formComment {
  border: solid 1px gray;
  width: 400px;
  margin: 30px auto;
  padding: 0 0 20px 0;
  align-content: left;
  box-shadow: 3px 3px 18px 3px #71697A ;
 text-align: center;
}

.commentWine {
  height: 50px;
  /* padding: 5px; */
  margin: 10px;
  width: 70%;
  text-align: center;
  font-size: 22px;
overflow-wrap: break-word;
 text-align: center;
}

.commentAuthor {
  font-size: 16px;
  width: 40%;
  margin: 10px 0 10px 20px;
  text-align: center;
   text-align: center;
}

.flexCommentSubmit {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 2px 2px rgba(0,0,0,.2);
}

.green {
  margin: 10px 10px;
}
textarea {
  font-family: arial sans-serif;
}


.content {
  margin: 0 10%;
  font-size: 22px;
  color: black;
  text-align: center;
}

.author {
margin: 0 0 20px 0;
font-size:16px;
color: white;
 text-align: center;
 color: black;
}

.titleComment {
  margin: 0 0 10px 0 ;
  text-align: center;
}

.imgShowPage {
    position: relative;
    top: 0;
    /* top: -50%; */
    margin: 0 auto;
    width: auto;
    height: auto;
    max-height: 550px;


  box-shadow: 3px 3px 18px 3px #71697A ;

  /* margin: auto 10px; */
}

.productShowDiv {
  vertical-align: middle;
  text-align: center;
  margin: 0 10px;
  max-height: 550px;
  
}

.showPageFlexDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;  
  margin: 10% 40%;
  height: 550px;
}

.commentsShowDiv {
text-align: center;
background-color: #D2E4C4;
padding: 1% 0;
margin: 5% 15%;

}

.commentsFullWidth {
background-image: url(images/dust_scratches.png);
background-size: cover;
}

.productInfoDiv {
  text-align: left;
  width: 250px;
  padding: 5px 20px ;
  background-color: beige;

}
.productInfoDiv h3  {
color: black;
}

.productInfoh3 {
    font-size: 30px;
}


footer {
  background-color: #71697A;
  color: white;
  height: 50px;
  text-align: center;
  margin: 0 0 0 0;
  padding: 0 0 0 20px;
  box-shadow: 0px 500px 0px 500px #71697A;
}

.footerText {
  padding: 80px 0 15px 0;
  font-size: 14px;
}

.logoCenter {
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: white;
  letter-spacing: 5px;
  margin: 20% 35%;
}



.logoh1 {
  font-size: 50px;
  background-color: rgba(252, 245, 199, .2);
  padding: 5px;
  box-sizing: content-box;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  text-align: center;
  margin: 0 0;
}

.mainPictureDiv {
  height: 200px;
  text-align: center;
}

.mainPictureDivHome {
  height: 600px;
  text-align: center;
}

.chooseSquaresHome {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

.squares1 {
/* background-color: #99C2A2; */
background-color:beige;
width:33%;
padding:115px 7% 100px 7%;
font-size:17px;
text-align: center;
}

.squares2 {
/* background-color: #6E7E85; */
background-color:beige;
width:34%;
padding:50px 5%;
font-size:17px;
text-align: center;
}

.squares3 {
/* background-color: #B0D0D3; */
background-color:beige;
width:33%;
padding:50px 5%;
font-size:17px;
text-align: center;
}

.squaresImage {
  width:100%;
  height:auto;
  margin:0 0 15px 0;
}

.row1 {
display: flex;
flex-direction: row;
flex-wrap: wrap-reverse;
justify-content: center;
}

.row2 {
  display: flex;
flex-direction: row-reverse;
flex-wrap: wrap-reverse;
justify-content: center;
}

.winePictureBox{
  background-image: url(/images/pexels-photo-12322.jpeg);
   background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width:50%;
}

.wineTextBox{
  height: 400px;
  width:50%;
  background-color:beige;
  text-align: center;
  padding: 150px 20px 0 20px; 
}

.grapePictureBox {
background-image: url(/images/purple-grapes-vineyard-napa-valley-napa-vineyard-45209.jpeg);
   background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width:50%;
}

.loginPictureBox {
  background-image: url(/images/pexels-photo-434311.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width:50%;
}

.grapeTextBox {
height: 400px;
  width:50%;
  background-color:beige;
  text-align: center;
  padding: 150px 20px 0 20px; 
}






.homePageBtn {
  padding: 5px;
  border: 1px solid #c6c5c5;
  color: black;
  background-color: white;
  font-size: 20px;
}

.homePageBtn:hover {
  background-color: rgb(188, 187, 187);
  color: black;
}

.squareTextHome {
  padding-bottom: 20px;
  font-size: 20px
}

.modal-backdrop {
  z-index: 1;
}

#openLoginModal {
  padding: 10% 10%;
}

.modal-text-boxLogin {
  position:relative;
  background-color: white;
  color: black; 
  margin: 20% auto;
	height: 398px;
	width: 498px;
  border-radius: 2px;
  text-align: left;
}

.modalH2 {
  color: black;
  text-align: center;
}

/* Bootstrap modification */

.container-fluid {
  background-color: #71697A;
}

.navbar {
  height: 70px;
  background-color: #71697A;
}

.navbar-nav>li>a {
  padding: 4px 10px;
  margin: 20px 0px;
  border-left: 1px solid white;
}


.navbar-brand {
  width: 200px;
  font-size: 32px;
  padding: 23px;
}

.navbar-inverse {
    border: none;
}

.navbar-inverse .navbar-brand {
  color: white;

  /* background-color: #71697A; */
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
  /* background-color: #71697A; */

}
.navbar-inverse .navbar-nav>li>span {
  color: white;
  display: block;
  padding: 23px;
  /* background-color: #71697A; */

}

/* w3schools */
/* https://www.w3schools.com/w3css/tryw3css_templates_food_blog.htm */

.w3-main {
  background-image: url(images/dust_scratches.png);
  max-width: 100%;
  margin-top:100px;
}

.wineListData {
  color: black;
}

.w3-quarter {
   height: 500px;
   width: 265px;
}

.chooseWineBtnflex {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}

.wineGlasses {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10% 12% 0 12%;
}

.smallWineGlasses {
  height: 150px;
  width: auto;
}

/* comment-box from Bootsnip.com */
/* https://bootsnipp.com/snippets/featured/comment-box */

.widget-area.blank {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  }
body .no-padding {
  padding: 0;
  }
.widget-area {
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  float: left;
  margin-top: 30px;
  padding: 25px 30px;
  position: relative;
  width: 100%;
  }
.status-upload {
  background: none repeat scroll 0 0 #f5f5f5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  float: left;
  width: 100%;
  }
.status-upload form {
  float: left;
  width: 100%;
  }
.status-upload form textarea {
  background: none repeat scroll 0 0 #fff;
  border: medium none;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  color: #777777;
  float: left;
  font-family: Lato;
  font-size: 14px;
  height: 142px;
  letter-spacing: 0.3px;
  padding: 20px;
  width: 100%;
  resize:vertical;
  outline:none;
  border: 1px solid #F2F2F2;
  }

.status-upload ul {
  float: left;
  list-style: none outside none;
  margin: 0;
  padding: 0 0 0 15px;
  width: auto;
  }
.status-upload ul > li {
  float: left;
  }
.status-upload ul > li > a {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #777777;
  float: left;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  margin: 10px 0 10px 10px;
  text-align: center;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  width: 30px;
  cursor: pointer;
  }
.status-upload ul > li > a:hover {
  background: none repeat scroll 0 0 #606060;
  color: #fff;
  }
.status-upload form button {
  border: medium none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  float: right;
  font-family: Lato;
  font-size: 14px;
  letter-spacing: 0.3px;
  margin-right: 9px;
  margin-top: 9px;
  padding: 6px 15px;
  }
.dropdown > a > span.green:before {
  border-left-color: #2dcb73;
  }
.status-upload form button > i {
  margin-right: 7px;
  }

/* google maps -------------------------- */

html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
#map {
    width: 100%;
    height: 200px;
}
.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#searchInput {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 50%;
}
#searchInput:focus {
    border-color: #4d90fe;
}

.thumbnail {
  max-height: 98px;
  max-width: 76px;
}

.col-md-6 {
width: 100%;
}

.col-sm-5 {
  width:90%;
}

/* google maps snippet */
/* https://developers.google.com/maps/documentation/javascript/examples/places-placeid-finder */

        #map {
            height: 70%;
        }

        /* Optional: Makes the sample page fill the window. */

        .mapArea {
            height: 100%;
            margin: 10% 20%;
            padding: 0;
        }

        .controls {
            background-color: #fff;
            border-radius: 2px;
            border: 1px solid transparent;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
            box-sizing: border-box;
            font-family: Roboto;
            font-size: 15px;
            font-weight: 300;
            height: 29px;
            margin-left: 17px;
            margin-top: 10px;
            outline: none;
            padding: 0 11px 0 13px;
            text-overflow: ellipsis;
            width: 400px;
        }

        .controls:focus {
            border-color: #4d90fe;
        }

        .title {
            font-weight: bold;
        }

        #infowindow-content {
            display: none;
        }

        #map #infowindow-content {
            display: inline;
        }



/* new nav bar */
.NewNavBarLeft {
  display: flex;
    flex-direction: row;
    list-style-type: none;


    overflow: hidden;

}
.NewNavBarLoginRegister {
  display: flex;
    flex-direction: row;


}

.newNavBar {
  display: flex;
    flex-direction: row;
    background-color: #71697A;
    justify-content: space-between;
}

.NewNavBara {
    display: block;
    color: white;
    text-align: center;
    margin: 5px 5px;
    padding: 5px 5px;
    text-decoration: none;

}

.NewNavBaraWelcome {
    display: block;
    color: white;
    text-align: center;
    margin: 5px 5px;
    padding: 5px 5px;
    text-decoration: none;

}

.NewNavBarDiv:hover {
  color: #BAB5C0;
}

.newlogoAtag {
  font-size: 30px;
    margin: 5px 5px;
    padding: 5px 5px;
}

.newlogoAtag:hover {
  color: #BAB5C0;
}


.NewNavBarDiv {
 font-size: 20px;
   margin: 5px 5px;

    
}

.NewNavBarli {
  color: white;
  margin: 5px 5px;
}

.NewNavBara:hover {
  color: #BAB5C0;
}

/*side nav*/

.MenuThreeLinesSymbol {
	color: white;
	color: white;
  margin: 5px 5px;
  padding: 5px 5px;
	float: right;
	font-size: 16px;
	cursor: pointer;
}

.MenuThreeLinesSymbol:hover {
  color: #BAB5C0;
}

.name{
	float: left;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 12px 8px 12px 12px;
    text-decoration: none;
    color: #71697A;
    display: block;
    transition: 0.3s;
    text-align: left;
}

.sidenav {
  width: 0px;
  font-size: 20px;
}

.sidenav a:hover {
  color: #71697A
}
.closebtn {
    position: absolute;
    top: 0px;
    color: #71697A;
    margin: 5px 5px;
    padding: 5px 5px;
    font-size: 36px;
}




@media screen and (max-width: 768px) {
.chooseSquaresHome {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  width: 100%;
}

.squares1 {
/* background-color: #99C2A2; */
background-color:beige;
width:100%;
min-width: 280px;
padding:100px 7%;
text-align: center;
border-bottom: 1px solid grey
}

.squares2 {
/* background-color: #6E7E85; */
background-color:beige;
width:100%;
min-width: 280px;
padding:100px 7%;
text-align: center;
border-bottom: 1px solid grey
}

.squares3 {
/* background-color: #B0D0D3; */
background-color:beige;
width:100%;
min-width: 280px;
padding:100px 7%;
text-align: center;
border-bottom: 1px solid grey
}

.containingImageMain {
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  min-height: 200px;
}

.w3-quarter {
  height: 500px;
  width: 100%;
}

.grapePictureBox, .winePictureBox, .loginPictureBox {
    width: 100%;
}

.grapeTextBox, .wineTextBox, .loginTextBox {
  width: 100%;
}

.row2 {
  flex-direction: row-reverse;
}


}
/* end of mobile friendly size */
/* ======================= */
































