body {
  /* background-color: #DFEAEC; */
  /* background-image: url(images/samuel-zeller-357975.jpg); */
  /* background-image: url(images/purple-grapes-vineyard-napa-valley.jpeg); */
  /* background-image: url(images/pexels-photo-12322.jpeg); */
  background-image: url(images/pexels-photo-360013.jpeg);
   /* background-image: url(images/purple-grapes-vineyard-napa-valley-napa-vineyard-45209.jpeg); */
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  font-family: arial;
  min-width: 900px;
  margin: 0 auto;
}

header {
  background-color: #71697A;

}

.backbtn{
    margin: 5px 40%;
    padding: 5px 5px;
    border: 1px solid #4F6367;
    text-align: center;
  }

.addbtn{
  padding: 5px 5px;
  border: 1px solid #4F6367;
  border-radius:10px;
  width: 18%;
  text-align: center;
  margin: 30px 40% 30px;

}

/* .addbtn:hover {
  background-color: rgba(252, 245, 199, .2);
  color: white;
} */

ul {
  padding: 0 0 ;
}
li {
  list-style: none;
}

.editForm {
  margin: 0 37%;
  text-align: left;
}
.editFormBtn {
  text-align: center;
}

a {
    color:white;
    text-decoration: none;
    width: 100%;
  }


  a:hover {
    text-decoration: none;
  }

.newInput {
  display: block;
  text-align: center;
  margin: 5px 30%;
  padding: 10px 0px;
  background-color: rgba(245, 245, 220, 1);
}
.newInputDiv {
  display: block;
  text-align: center;
  margin: 5px 35%;
  padding: 10px 0px;
  background-color: rgba(245, 245, 220, 1);
}

.chooseFilePicture {
  background: beige;
  padding: 10px 10px;
  margin: 10px 37%;
}

.loginForm {
  background-color: beige;
  margin: 5px 37%;
  padding: 10px 0
}


img {
  height: 300px;
  width: auto;
  margin: 10px 10px;
}

.imgShowPage {
  height: 500px;
  width: auto;
  box-shadow: 3px 3px 18px 3px #71697A ;
}

button {
  margin: 5px;
}

h1 {
  color: white;
  margin: 0 0 ;
  padding:  20px 20px;
  font-size: 20px;
}

h2 {
  color: white
}

h3 {
  color: white;
}

h4 {
  color:white;
}

/* top nav */
.navDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  color:white;
  font-size:18px;
  padding: 20px 0;
  margin: 20px 0 20px 0;
}

.logOut {
  color:white;
  font-size:18px;
  padding: 20px 0;
  margin: 20px 0 20px 0;
}

.left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* .logOut:hover {
  text-transform: uppercase;
} */

.welcome {
  color:white;
  font-size:18px;
  padding: 20px 0;
  margin: 20px 0 20px 0;
}
/* .nav-tabs {
  margin: 0px 0 20px 0;
}

.nav {
   margin: 0px 0 20px 0;
} */


.containerWine  {
  display: flex;
  flex-flow: row wrap;
  margin: 3px 3px;
  text-align: center;
  justify-content: center;
}

.item {
  display: flex;
  flex-flow: row wrap;
  display: block;
  min-width: 200px;
  /* width: 200px; */
  border: 1px solid grey;
  margin: 3px 3px;
  padding: 1em 1em;
  background-color: rgba(252, 245, 199, .2);
}

.item:hover {
  color: white;
  /* background-color: rgba(252, 245, 199, .4); */
  box-shadow: 0px 0px 5px black;
}


.formComment {
  border: solid 1px gray;
  width: 400px;
  margin: 30px auto;
  padding: 0 0 20px 0;
  align-content: left;
  box-shadow: 3px 3px 18px 3px #71697A ;

}

.commentWine {
  height: 50px;
  /* padding: 5px; */
  margin: 10px;
  width: 70%;
  text-align: center;
  font-size: 22px;
overflow-wrap: break-word;
}

.commentAuthor {
  font-size: 16px;
  width: 40%;
  margin: 0 0 10px 0;
  text-align: center;
}

.content {
  margin: 0 30%;
  font-size: 22px;
color: white;
}

.author {
margin: 0 0 20px 0;
font-size:16px;
color: white;
}

.titleComment {
  margin: 0 0 10px 0 ;
}

footer {
  background-color: #71697A;
  color: white;
  height: 50px;
  text-align: left;
  margin: 30px 0 0 0;
  padding: 0 0 0 20px;
  box-shadow: 0px 500px 0px 500px #71697A;
}

.footerText {
  padding: 20px 0;
  font-size: 20px;
}





.logoCenter {
  background-color: rgba(252, 245, 199, .2);
  margin: 20% 35%;
  font-size: 100px;
  color: white;
  letter-spacing: 5px;
  border-top: 3px solid white;
    border-bottom: 3px solid white;
}

.mainPictureDiv {
  height: 500px;
}

/* Bootstrap modification */

.container-fluid {
  background-color: #71697A;

}

.navbar {
  height: 70px;
  background-color: #71697A;
}

.navbar-nav>li>a {
  padding: 23px;
}

/* .navbar-nav>li>a:hover {
  background-color: blue;
} */

.navbar-brand {
  width: 200px;
  font-size: 32px;
  padding: 23px;
  /* background-color: #71697A; */

}

.navbar-inverse {
    border: none;
}

.navbar-inverse .navbar-brand {
  color: white;

  /* background-color: #71697A; */
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
  /* background-color: #71697A; */

}
.navbar-inverse .navbar-nav>li>span {
  color: white;
  display: block;
  padding: 23px;
  /* background-color: #71697A; */

}
